.bg-footer {
  background-color: #0b1e28;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
}
footer p{
  color: #fff;
}
.footer_address a{
  text-decoration: none;
}
.footer_address a:hover{
  color: #dc2a82 !important;
  letter-spacing: 1px;
}
.footer-link a {
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  text-decoration: none;
}

.footer-link a:hover {
  color: #dc2a82;
  letter-spacing: 1px;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}
.footer_links a{
  text-decoration: none;
}
.footer-social-icon {
  font-size: 15px;
  height: 50px;
  width: 50px;
  line-height: 34px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  background-color: #3b5998;
  color: #ffffff;
  margin-left: 10px;
}

.twitter {
  background-color: #FF0000;
  color: #ffffff;
  margin-left: 10px;
}

.google {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);;
  color: #ffffff;
  margin-left: 10px;
}

.apple {
  background-color: #0b8548;
  color: #ffffff;
  margin-left: 10px;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}
